.HeaderMyWork{
    position: relative;
    background-image: url("./img6.jpg");
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
    /* background-position: auto; */
    margin-bottom: 150px;
}

.headermywork{
    color: white;
    font-family: "Lucida Handwriting", cursive;
    font-size: 10vw;
    position: absolute;
    top: 25%;
    left: 35%;
    font-weight: lighter;
}

