.Page{
    text-align: center;
    position: fixed;
    background-image: url("./img1.jpg");
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: fixed;
    /* background-color: black; */
}

.name{
    color: white;
    font-family: "Lucida Handwriting", cursive;
    font-size: 10vw;
    position: absolute;
    top: 25%;
    left: 7%;
    font-weight: lighter;
}

.line {
	background: white;
	width: 0.3vw;
    height: 100px;
    position: fixed;
    top: -20%;
    left: 85%;
    animation: grow 4s forwards infinite;
}


/* @keyframes grow {
	0% {
		height: 0px;
	}
	50% {
		height: 100px;
	}
    60%{
        height: 0px;
    }
    100%{
        height: 100px;
    }
} */

@keyframes grow {
0% {
    top: -20%;
}

50% {
    top: -6%;
}

0% {
    top: -20%;
}
}

/* .line {
    width: 2px;
    height: 100px;
    background: white;
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 85%;
    transform: translate(-50%, -50%);
} */

/* .line::before {
    margin-left: 100px;
	background: red;
	width: 2px;
    height: 100px;

    position: absolute;
    top: 20%;
    left: 85%;
	animation: animate 4s forwards infinite;
} */

/* @keyframes animate {
    0% {
		height: 100px;
        top: 0;
	}
	100% {
		height: 0px;
        top: 0;
	}
} */

/* @keyframes animate {
    0% {
        top: 10;
        opacity: 1;
    }

    50% {
        top: 70%;
        opacity: 1;
    }

    0% {
        top: 0;
        opacity: 1;
    }
} */



