.explore-button {
    position: absolute;
    top: 7%;
    left: 80%;
    z-index: 1;
  }

  /* .explore-button{
    color: white;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    font-size: 2vw;
    position: absolute;
    top: 10%;
    left: 82%;
} */
  
  .menu-bars {
    color: white;
    font-family: "Lucida Handwriting", cursive;
    font-weight: bold;
    font-size: 1vw;
  }
  
  .nav-menu {
    z-index: 1;
    background-color: #202020;
    width: 400px;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    text-align: right;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    right: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    /* justify-content: start; */
    /* align-items: center; */
    padding: 8px 60px 8px 30px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    font-family: "Lucida Handwriting", cursive;
    color: white;
    font-size: 2vw;
    width: 95%;
    height: 100%;
    /* display: flex; */
    padding: 0 16px;
    border-radius: 4px;
    text-align: right;
  }
  
  /* .nav-text a:hover {
    background-color: #202020;
  } */
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    width: 100%;
    height: 90px;
    display: flex;
    /* justify-content: start; */
    /* text-align: right; */
  }

  

  .menu-bars-x {
    color: white;
    font-weight: bold;
    font-size: 3vw;
    padding: 0px 0px 0px 300px;
    text-align: right;
  }
  
  
  span {
    margin-left: 16px;
  }